.main-banner-mint {
    background-image: url('./../../Assets/bg-image.svg');
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    .header{
        text-align: center;
        color: #fff;

    }
    .btn-set{
        margin-top: 70px;
        width: 100%;
    }
    .stakedwallet{
        color: #fff !important;
        margin-top: 20px;
    }
  
    .Tableclr{
        margin-top: 20px;
        color: #fff;
    }
}

.table-responsive {
display: block;
width: 100%;
max-height: 640px;
overflow-x: auto;
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
-ms-overflow-style: -ms-autohiding-scrollbar;
}