.main-about {
    .main-tile {
        margin-bottom: 10px;
        margin-top: 40px;
        background: transparent;
        box-sizing: border-box;
        backdrop-filter: blur(50px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 10px;
        width: 300px;
        height: 300px;
        margin: 0px 8px;
        padding: 20px;
    }
    // .owl-carousel .owl-item img {
    //     display: inline-block;
    //     width: unset !important;
    // }
}
@media (max-width: 1200px) {
    .main-about {
        .main-tile {
            min-height: 300px;
        }
    }
}
@media (max-width: 601px) {
    .main-about .main-tile {
        min-height: 264px;
    }
    .main-about .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        height: 264px !important;
    }
}
@media (min-width:300px) and (max-width:350px) {
    .main-about .main-tile {
        min-height: 264px;
        width: 283px;
    }
}

// .owl-nav .owl-prev .backword{
//     font-size: 40px !important;
//     columns: red !important;
// position: relative;
//     top: -10px;
//     left: -10px;

// }